# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Working files mahasiswa (boleh di-override per kasus)
notebook/Kelompok-*
notebook/draft-*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
